body {
    font-family: Arial, sans-serif;
    background-color: #34495e;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.landing-container {
    background-color: #34495e;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    overflow-y: auto;
}

h1 {
    color: #0984e3;
    margin-bottom: 20px;
}

p {
    color: #00b894;
    margin-bottom: 15px;
}

.button-container {
    margin-top: 20px;
}

button {
    background-color: #2980b9;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #3498db;
}

.image-slider {
    margin-top: 30px;
    position: relative;
}

.image-slider img {
    width: 100%;
    height: 300px; /* Fixed height for images */
    object-fit: cover; /* Ensures images fit without distortion */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.image-caption {
    font-size: 22px;
    color: #CAD3C8;
    margin-top: 10px;
    font-family: "Lucida Console", "Courier New", monospace;
    font-style: italic;
}
